build
*.zip
*.tgz
onnxruntime-*
icefall-*
run.sh
__pycache__
dist/
sherpa_onnx.egg-info/
.DS_Store
build-aarch64-linux-gnu
sherpa-onnx-streaming-zipformer-*
sherpa-onnx-lstm-en-*
sherpa-onnx-lstm-zh-*
build-android-arm64-v8a/
build-android-armv7-eabi/
build-android-x86-64/
a.txt
run-bilingual*.sh
run-*-zipformer.sh
run-zh.sh
decode-file-c-api
run-decode-file-c-api.sh
sherpa-onnx-ffmpeg
build-ios
build-swift-macos
aa.sh
client-2.sh
ffmpeg-examples/run-3.sh
python-api-examples/decode-file-multiple-bak-2.py
run-en-zipformer-microphone*
run-websocket-server*
decode-file
*.dylib
tokens.txt
*.onnx
log.txt
tags
run-decode-file-python.sh
android/SherpaOnnx/app/src/main/assets/
