build
*.zip
*.tgz
*.sw?
onnxruntime-*
icefall-*
run.sh
__pycache__
dist/
sherpa_onnx.egg-info/
.DS_Store
build-aarch64-linux-gnu
build-arm-linux-gnueabihf
sherpa-onnx-streaming-zipformer-*
sherpa-onnx-lstm-en-*
sherpa-onnx-lstm-zh-*
build-android-arm64-v8a/
build-android-armv7-eabi/
build-android-x86-64/
a.txt
run-bilingual*.sh
run-*-zipformer.sh
run-zh.sh
decode-file-c-api
offline-tts-c-api
run-decode-file-c-api.sh
sherpa-onnx-ffmpeg
build-ios
build-swift-macos
aa.sh
client-2.sh
ffmpeg-examples/run-3.sh
python-api-examples/decode-file-multiple-bak-2.py
run-en-zipformer-microphone*
run-websocket-server*
decode-file
*.dylib
tokens.txt
*.onnx
log.txt
tags
run-decode-file-python.sh
android/SherpaOnnx/app/src/main/assets/
*.ncnn.*
run-sherpa-onnx-offline.sh
sherpa-onnx-conformer-en-2023-03-18
paraformer-onnxruntime-python-example
run-sherpa-onnx-offline-paraformer.sh
run-sherpa-onnx-offline-transducer.sh
sherpa-onnx-paraformer-zh-2023-03-28
sherpa-onnx-paraformer-zh-2023-09-14
run-offline-websocket-server-paraformer.sh
run-*int8.sh
a.sh
run-offline-websocket-client-*.sh
run-sherpa-onnx-*.sh
sherpa-onnx-zipformer-en-2023-03-30
sherpa-onnx-zipformer-en-2023-04-01
run-offline-decode-files.sh
sherpa-onnx-nemo-ctc-en-citrinet-512
sherpa-onnx-streaming-paraformer-bilingual-zh-en
run-offline-decode-files-nemo-ctc.sh
sherpa-onnx-nemo-ctc-*
*.wav
sherpa-onnx-zipformer-*
sherpa-onnx-conformer-*
sherpa-onnx-whisper-*
swift-api-examples/k2fsa-*
run-*.sh
two-pass-*.sh
build-*

## User settings
xcuserdata/

## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout
vits-vctk
vits-zh-aishell3
jslint.mjs
vits-piper-en_US-amy-low
vits-piper-*-*-*
log
*.exe
vits-piper-*
vits-coqui-*
vits-mms-*
*.tar.bz2
sherpa-onnx-paraformer-trilingual-zh-cantonese-en
sr-data
*xcworkspace/xcuserdata/*

vits-icefall-*
sherpa-onnx-punct-ct-transformer-zh-en-vocab272727-2024-04-12
spoken-language-identification-test-wavs
my-release-key*
vits-zh-hf-fanchen-C
sherpa-onnx-kws-zipformer-wenetspeech-3.3M-2024-01-01
*.dll
*.lib
*.tar.gz
*.tar.bz2
*.zip
sherpa-onnx-ced-*
node_modules
package-lock.json
pubspec.lock
sherpa-onnx-nemo-*
sherpa-onnx-vits-*
sherpa-onnx-telespeech-ctc-*
*.fst
.ccache
lib*.a
sherpa-onnx-sense-voice-zh-en-ja-ko-yue-2024-07-17
*.bak
vits-melo-tts-zh_en
*.o
*.ppu
sherpa-onnx-online-punct-en-2024-08-06
*.mp4
*.mp3
sherpa-onnx-pyannote-segmentation-3-0
sherpa-onnx-moonshine-tiny-en-int8
sherpa-onnx-moonshine-base-en-int8
harmony-os/SherpaOnnxHar/sherpa_onnx/LICENSE
harmony-os/SherpaOnnxHar/sherpa_onnx/CHANGELOG.md
matcha-icefall-zh-baker
matcha-icefall-en_US-ljspeech
kokoro-en-v0_19
*.pt
lexicon.txt
us_gold.json
us_silver.json
kokoro-multi-lang-v1_0
sherpa-onnx-fire-red-asr-large-zh_en-2025-02-16
cmake-build-debug
cmake-build-release
README-DEV.txt
*.rknn
*.jit
##clion
.idea
sherpa-onnx-dolphin-base-ctc-multi-lang-int8-2025-04-02
dict
*.npz
voices.bin
kitten-nano-en-v0_1-fp16
*.egg-info
*.jar
vocab.json
*.so
sherpa-onnx-streaming-t-one-russian-2025-09-08
sherpa-onnx-wenetspeech-yue-u2pp-conformer-ctc-zh-en-cantonese-int8-2025-09-10
am.mvn
*bpe.model
config.yaml
configuration.json
sherpa-onnx-omnilingual-asr-1600-languages-300M-ctc-int8-2025-11-12
sherpa-onnx-qnn-10-seconds-sense-voice-zh-en-ja-ko-yue-2024-07-17-int8-android-aarch64
sherpa-onnx-paraformer-zh-int8-2025-10-07
sherpa-onnx-qnn-5-seconds-zipformer-ctc-zh-2025-07-03-int8-android-aarch64
sherpa-onnx-qnn-10-seconds-zipformer-ctc-zh-2025-07-03-int8-android-aarch64
build-riscv64-linux-gnu-spacemit/
spacemit-toolchain*
sherpa-onnx-qnn-*
matcha-icefall-*
sherpa-onnx-medasr-ctc-en-int8-2025-12-25
sherpa-onnx-funasr-nano-int8-2025-12-30
*.raw
*-input-list.txt
sherpa-onnx-funasr-nano*2025-12-30
