!run-*.sh
zipformer_transducer
whisper
nemo_transducer
nemo_ctc
paraformer
paraformer_itn
sense_voice
telespeech_ctc
moonshine
dolphin_ctc
zipformer_ctc
wenet_ctc
nemo_canary
omnilingual_asr_ctc
medasr_ctc
