name: export-supertonic-to-int8-onnx

on:
  push:
    branches:
      - supertonic

  workflow_dispatch:

concurrency:
  group: export-supertonic-to-int8-onnx-${{ github.ref }}
  cancel-in-progress: true

jobs:
  export-supertonic-to-onnx:
    if: github.repository_owner == 'k2-fsa' || github.repository_owner == 'csukuangfj'
    name: export supertonic int8
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        shell: bash
        run: |
          pip install numpy onnx onnxruntime modelscope

      - name: Run
        shell: bash
        run: |
          cd scripts/supertonic
          ./run.sh

      - name: Collect results
        shell: bash
        run: |
          src=scripts/supertonic
          d=supertonic-int8

          mkdir $d
          cp -a LICENSE $d/LICENSE
          cp -a $src/README.md $d/README.md
          cp -v $src/onnx_int8/*.int8.onnx $d/
          cp -v $src/assets/onnx/unicode_indexer.json $d/
          cp -a $src/assets/voice_styles $d/voice_styles
          ls -lh $d/
          tar cjfv $d.tar.bz2 $d

          ls -lh $d.tar.bz2

      - name: Release
        if: github.repository_owner == 'csukuangfj'
        uses: svenstaro/upload-release-action@v2
        with:
          file_glob: true
          file: ./*.tar.bz2
          overwrite: true
          repo_name: k2-fsa/sherpa-onnx
          repo_token: ${{ secrets.UPLOAD_GH_SHERPA_ONNX_TOKEN }}
          tag: tts-models

      - name: Release
        if: github.repository_owner == 'k2-fsa'
        uses: svenstaro/upload-release-action@v2
        with:
          file_glob: true
          file: ./*.tar.bz2
          overwrite: true
          tag: tts-models

      - name: Publish to huggingface
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        uses: nick-fields/retry@v3
        with:
          max_attempts: 20
          timeout_seconds: 200
          shell: bash
          command: |
            git config --global user.email "csukuangfj@gmail.com"
            git config --global user.name "Fangjun Kuang"

            export GIT_LFS_SKIP_SMUDGE=1
            export GIT_CLONE_PROTECTION_ACTIVE=false

            d=supertonic-int8
            if [[ ! -d $d ]]; then
              echo "$d does not exist"
              exit 0
            fi

            rm -rf huggingface
            git clone https://csukuangfj:$HF_TOKEN@huggingface.co/csukuangfj/$d huggingface
            cd huggingface
            rm -rf ./*

            git lfs track "*.onnx"
            cp -a ../$d/* ./

            git add .
            ls -lh
            git status
            git commit -m "add supertonic int8 models" || true
            git push https://csukuangfj:$HF_TOKEN@huggingface.co/csukuangfj/$d main || true
