name: Test rust package

on:
  push:
    branches:
      - rust-api
  workflow_dispatch:

concurrency:
  group: test-rust-package-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-rust-package:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, macos-15-intel, ubuntu-22.04-arm]

    env:
      # Placeholder, will be overwritten per OS
      SHERPA_ONNX_LIB_DIR: ""
      RUSTFLAGS: ""

    steps:
      # Checkout the repository
      - uses: actions/checkout@v4

      # Install Rust stable
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable

      # Download prebuilt libraries depending on OS
      - name: Download prebuilt Sherpa-ONNX libraries
        shell: bash
        run: |
          SHERPA_ONNX_VERSION=$(grep "SHERPA_ONNX_VERSION" ./CMakeLists.txt  | cut -d " " -f 2  | cut -d '"' -f 2)

          if [[ "${{ matrix.os }}" == "macos-latest" ]]; then
            d=sherpa-onnx-v$SHERPA_ONNX_VERSION-osx-universal2-shared
          elif [[ "${{ matrix.os }}" == "macos-15-intel" ]]; then
            d=sherpa-onnx-v$SHERPA_ONNX_VERSION-osx-universal2-shared
          elif [[ "${{ matrix.os }}" == "ubuntu-latest" ]]; then
            d=sherpa-onnx-v$SHERPA_ONNX_VERSION-linux-x64-shared
          elif [[ "${{ matrix.os }}" == "ubuntu-22.04-arm" ]]; then
            d=sherpa-onnx-v$SHERPA_ONNX_VERSION-linux-aarch64-shared-cpu
          else
            echo "Unknown ${{ matrix.os }}"
            exit 1
          fi

          LIB_URL="https://github.com/k2-fsa/sherpa-onnx/releases/download/v$SHERPA_ONNX_VERSION/$d.tar.bz2"

          curl -SsL -O  "$LIB_URL"
          tar -xvf $d.tar.bz2

          ls -lh $d/lib

          # Export environment variables for this step
          echo "SHERPA_ONNX_LIB_DIR=$PWD/$d/lib" >> $GITHUB_ENV
          echo "RUSTFLAGS=-C link-arg=-Wl,-rpath,$PWD/$d/lib" >> $GITHUB_ENV

      - name: Show libs
        shell: bash
        run: |
          echo "SHERPA_ONNX_LIB_DIR: $SHERPA_ONNX_LIB_DIR"
          ls -lh $SHERPA_ONNX_LIB_DIR

          echo "RUSTFLAGS: $RUSTFLAGS"

      # Test using published crates.io dependencies
      - name: Test Published Crates
        shell: bash
        run: |
          cd rust-api-examples
          git checkout Cargo.toml
          cargo clean
          # cargo test --locked --all-features
          cargo run --example version
