name: windows-x86-debug

on:
  push:
    branches:
      - master
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'
    paths:
      - '.github/workflows/windows-x86-debug.yaml'
      - '.github/scripts/test-online-transducer.sh'
      - '.github/scripts/test-online-paraformer.sh'
      - '.github/scripts/test-offline-transducer.sh'
      - '.github/scripts/test-offline-ctc.sh'
      - '.github/scripts/test-offline-tts.sh'
      - '.github/scripts/test-online-ctc.sh'
      - 'cmake/**'
      - 'sherpa-onnx/csrc/*'

  workflow_dispatch:

concurrency:
  group: windows-x86-debug-${{ github.ref }}
  cancel-in-progress: true

jobs:
  windows_x86_debug:
    name: shared-${{ matrix.shared_lib }} tts-${{ matrix.with_tts }} static CRT ${{ matrix.use_static_crt }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022]
        build_type: [Release, Debug, MinSizeRel, RelWithDebInfo]
        shared_lib: [OFF, ON]
        with_tts: [ON, OFF]
        use_static_crt: [ON, OFF]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Update version
        shell: bash
        run: |
          ./new-release.sh
          git diff .

      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: find dumpbin
        shell: bash
        run: |
          which dumpbin

      - name: Configure CMake
        shell: bash
        run: |
          mkdir build
          cd build
          cmake \
            -A Win32 \
            -DSHERPA_ONNX_ENABLE_TTS=${{ matrix.with_tts }} \
            -DSHERPA_ONNX_USE_STATIC_CRT=${{ matrix.use_static_crt }} \
            -D CMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -D SHERPA_ONNX_ENABLE_PORTAUDIO=OFF \
            -D BUILD_SHARED_LIBS=${{ matrix.shared_lib }} \
            -D CMAKE_INSTALL_PREFIX=./install \
            -D BUILD_ESPEAK_NG_EXE=OFF \
            ..

      - name: Check 1
        shell: bash
        run: |
          cd build

          cat sherpa-onnx/csrc/sherpa-onnx.vcxproj

      - name: Check 2
        shell: cmd
        run: |
          cd build

          findstr /R /C:"<RuntimeLibrary>" sherpa-onnx\csrc\sherpa-onnx.vcxproj

      - uses: actions/upload-artifact@v4
        with:
          name: sherpa-onnx-vcxproj-release-windows-x86-${{ matrix.shared_lib }}-${{ matrix.with_tts }}-static-crt-${{ matrix.use_static_crt }}-${{ matrix.build_type }}
          path: build/sherpa-onnx/csrc/sherpa-onnx.vcxproj

      - name: Check 3
        shell: bash
        run: |
          cd build

          cat c-api-examples/vad-whisper-c-api.vcxproj

      - name: Check 4
        shell: cmd
        run: |
          cd build

          findstr /R /C:"<RuntimeLibrary>" "c-api-examples\vad-whisper-c-api.vcxproj"

      - uses: actions/upload-artifact@v4
        with:
          name: vad-whisper-c-api-vcxproj-release-windows-x86-${{ matrix.shared_lib }}-${{ matrix.with_tts }}-static-crt-${{ matrix.use_static_crt }}-${{ matrix.build_type }}
          path: build/c-api-examples/vad-whisper-c-api.vcxproj

      - name: Build sherpa-onnx for windows
        shell: bash
        run: |
          cd build
          cmake --build . --config ${{ matrix.build_type }} -- -m:2
          cmake --build . --config ${{ matrix.build_type }} --target install -- -m:2

          ls -lh ./bin/${{ matrix.build_type }}/sherpa-onnx.exe

      - name: Show exe
        shell: bash
        run: |
          ls -lh $PWD/build/bin/${{ matrix.build_type }}

      - name: Dump CRT dependencies
        shell: cmd
        run: |
          dumpbin /dependents build\bin\${{ matrix.build_type }}\sherpa-onnx.exe

      - uses: actions/upload-artifact@v4
        with:
          name: release-windows-x86-${{ matrix.shared_lib }}-${{ matrix.with_tts }}-static-crt-${{ matrix.use_static_crt }}-${{ matrix.build_type }}
          path: build/install/*

      - name: Copy files
        shell: bash
        run: |
          SHERPA_ONNX_VERSION=v$(grep "SHERPA_ONNX_VERSION" ./CMakeLists.txt  | cut -d " " -f 2  | cut -d '"' -f 2)

          shared_lib=${{ matrix.shared_lib }}
          use_static_crt=${{ matrix.use_static_crt }}
          if [[ $shared_lib == "ON" ]]; then
            if [[ $use_static_crt == ON ]]; then
              suffix=shared-MT-${{ matrix.build_type }}
            else
              suffix=shared-MD-${{ matrix.build_type }}
            fi
          else
            if [[ $use_static_crt == ON ]]; then
              suffix=static-MT-${{ matrix.build_type }}
            else
              suffix=static-MD-${{ matrix.build_type }}
            fi
          fi

          if [[ ${{ matrix.with_tts }} == ON ]]; then
            dst=sherpa-onnx-${SHERPA_ONNX_VERSION}-win-x86-$suffix
          else
            dst=sherpa-onnx-${SHERPA_ONNX_VERSION}-win-x86-$suffix-no-tts
          fi

          mkdir $dst

          cp -a build/install/bin $dst/
          cp -a build/install/lib $dst/
          cp -a build/install/include $dst/

          ls -lh $dst/bin/
          echo "---"
          ls -lh $dst/lib/

          tar cjvf ${dst}.tar.bz2 $dst

          ls -lh $dst/

          ls -lh *.tar.bz2

      # https://huggingface.co/docs/hub/spaces-github-actions
      - name: Publish to huggingface
        if: (github.repository_owner == 'csukuangfj' || github.repository_owner == 'k2-fsa') && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        uses: nick-fields/retry@v3
        with:
          max_attempts: 20
          timeout_seconds: 200
          shell: bash
          command: |
            SHERPA_ONNX_VERSION=$(grep "SHERPA_ONNX_VERSION" ./CMakeLists.txt  | cut -d " " -f 2  | cut -d '"' -f 2)
            git config --global user.email "csukuangfj@gmail.com"
            git config --global user.name "Fangjun Kuang"

            rm -rf huggingface
            export GIT_CLONE_PROTECTION_ACTIVE=false
            GIT_LFS_SKIP_SMUDGE=1 git clone https://huggingface.co/csukuangfj2/sherpa-onnx-libs huggingface

            cd huggingface
            dst=win64/$SHERPA_ONNX_VERSION
            mkdir -p $dst

            cp -v ../sherpa-onnx-*.tar.bz2 $dst

            git status
            git lfs track "*.bz2"

            git add .

            git commit -m "upload sherpa-onnx-${SHERPA_ONNX_VERSION}"

            git push https://csukuangfj2:$HF_TOKEN@huggingface.co/csukuangfj2/sherpa-onnx-libs main

      - name: Release pre-compiled binaries and libs for Windows x86
        if: github.repository_owner == 'csukuangfj' && github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          file_glob: true
          overwrite: true
          file: sherpa-onnx-*-win-x86*.tar.bz2
          repo_name: k2-fsa/sherpa-onnx
          repo_token: ${{ secrets.UPLOAD_GH_SHERPA_ONNX_TOKEN }}
          tag: v1.12.15

      - name: Release pre-compiled binaries and libs for Windows x86
        if: github.repository_owner == 'k2-fsa'&& github.event_name == 'push' && contains(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          file_glob: true
          overwrite: true
          file: sherpa-onnx-*-win-x86*.tar.bz2

      - name: Test online CTC
        shell: bash
        run: |
          export PATH=$PWD/build/bin/${{ matrix.build_type }}:$PATH
          export EXE=sherpa-onnx.exe

          .github/scripts/test-online-ctc.sh
